<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289878519915-ur61mh2klqjkd627c9mv7rm24qet6o5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289878519915-ur61mh2klqjkd627c9mv7rm24qet6o5o</string>
	<key>API_KEY</key>
	<string>AIzaSyD-e9ghsP_WjqS7b9B870ToUy2axCQ-ie4</string>
	<key>GCM_SENDER_ID</key>
	<string>289878519915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victornogueira.InstragramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramios-82a71</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramios-82a71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289878519915:ios:db04be61a94051b98b412e</string>
</dict>
</plist>